/* home page styling */
.container {
  text-align: center;
}

h1 {
  text-align: center;
}

.hidden {
  display: none;
}

/* game board styling */
.game-board {
  display: grid;
  grid-template-columns: 3rem 3rem 3rem 3rem 3rem 3rem 3rem 3rem 3rem 3rem 3rem 3rem 3rem 3rem 3rem;
  grid-template-rows: 3rem 3rem 3rem 3rem 3rem 3rem 3rem 3rem 3rem 3rem 3rem 3rem 3rem 3rem 3rem;
  justify-content: center;
}

.box {
  background-color: #d9d9d9;
  border: 2px solid black;
}

.box:hover {
  background-color: white;
}

#center-star {
  font-weight: 900;
  font-size: 2rem;
}

/* player styling  */
#player-one {
  float: left;
}

#player-two {
  float: right;
}

.tile {
  display: grid;
  height: 2.5rem;
  width: 2.5rem;
  border: 1px solid black;
  justify-content: space-evenly;
}